

/* Body styles */
body {
    min-height: 100%;
    position: fixed;
    padding: 5px;
    text-align: center;
    width: 100%;
    height: 100%;
    background: url("../images/mycookbookimage.jpg") no-repeat center center scroll;
    background-attachment: fixed;
    background-size: cover;
    margin-bottom: 100px;
    font-family: 'Poppins', sans-serif; /* Apply Poppins font family */
    box-sizing: inherit;
}

/* Navigation links styles */
nav ul a {
    transition: background-color 0.3s;
    font-size: 1rem;
    color: #000000;
    display: block;
    padding: 0 15px;
    cursor: pointer;
}

/* Card panel styles */
.card-panel {
    background: linear-gradient(0, #a8988a1a, rgb(255, 255, 252));
}

/* Large button styles */
.btn-large {
    background-color: #e3f2fd;
}

/* Input field label styles */
.input-field > label {
    color: #080808;
}

/* Scrollable container styles */
.scrollable {
    overflow-y: auto;
    max-height: 70vh; /* Set maximum height */
}

/* Hide scrollbar */
.scrollable::-webkit-scrollbar {
    display: none;
}

/* Override letter-spacing in Materialize CSS */
.table-of-contents a {
    letter-spacing: 0; /* Override the problematic value */
}



